<div class="paste-text" *ngIf="variant === 'paste text'">
    <div class="row">
        <h1 class="col">
            Enter your text below
        </h1>
    </div>
    <div class="row">
        <textarea [(ngModel)]="text" class="bg-light form-control col-12 border-dark" rows="18" cols="65"></textarea>
    </div>
    <div class="row justify-content-md-center pt-3">
        <div class="col-md-auto">
            <button type="button" class="border-dark btn btn-secondary custom-btn-size" [disabled]="text.length === 0"
                (click)="handleProcessButtonClick()">Process</button>
        </div>
    </div>
</div>
<div *ngIf="variant === 'see result'">
  <div class="row">
    <h1>Your result</h1>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="d-flex justify-content-between align-items-start">
        <textarea readonly class="form-control bigger-textarea" rows="14" cols="55">{{ passedText }}</textarea>
        <img class="copy-icon" src="../../assets/copyIcon.png" (click)="clickOnCopyImg()" data-bs-toggle="tooltip" data-bs-placement="top-end" title="Copy to Clipboard">
      </div>
    </div>
  </div>
</div>